@import '../util/variables';

footer {
  width: $size-grid-column * 5;
  font: $font-default;
  color: $color-light-1;
  margin: 0 auto;
  z-index: 100;
  .wrapper {
    background-color: $color-dark;
    padding: 1rem 3rem;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      text-align: center;
      height: inherit;
      a {
        color: $color-light-1;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:visited,
        &:active {
          text-decoration: none;
        }
        &:hover {
          color: lighten($color-light-1, 20%);
        }
        svg {
          height: 3rem;
          margin-right: 1rem;
          fill: $color-light-2;
        }
      }
      .date {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media (min-width: 450px) and (max-width: 1100px) {
  footer {
    width: 18.5rem * 5;
    .wrapper {
      padding: 1rem 2.5rem;
    }
  }
}

@media (min-width: 450px) and (max-width: 930px) {
  footer {
    width: 15rem * 5;
  }
}
@media (min-width: 450px) and (max-width: 750px) {
  footer {
    width: 13rem * 5;
    .wrapper {
      padding: 1rem;
    }
  }
}
