@import '../util/variables';
header {
  font: $font-default;
  letter-spacing: 0.05rem;
  line-height: 1.15;
  color: $color-light-1;
  width: $width-cv;
  margin: 0 auto;

  .wrapper {
    background-color: $color-dark-light;
    display: flex;
    justify-content: space-between;
  }

  .image {
    text-align: center;
    background-color: #fcfcfc;
    width: $width-aside;
    height: 19rem;
    img {
      height: inherit;
    }
  }

  .info {
    padding: $padding-default;
    width: fit-content;
    width: $width-cv - $width-aside;
  }

  h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: $color-light-2;
  }
  h3 {
    color: $color-light-2;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0.5rem 2.5rem;
    li {
      &:first-of-type {
        grid-column-start: span 4;
      }
      a {
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $color-light-1;
        svg {
          width: 2rem;
          margin-right: 1rem;
          fill: $color-light-2;
        }

        &:active,
        &:visited {
          text-decoration: none;
        }
      }
    }
  }
}
