@import '../util/variables';
header {
  width: $size-grid-column * 5;
  font: $font-default;
  letter-spacing: 0.05rem;
  line-height: 1.15;
  color: $color-light-1;
  margin-top: 0.5rem;
  overflow: hidden;

  .wrapper {
    background-color: $color-dark-light;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
  }

  .image {
    text-align: center;
    background-color: $color-dark-light;
    height: 16.8rem;
    width: min-content;
    position: relative;
    z-index: 10;
    img {
      height: inherit;
    }
  }

  .info {
    padding: $padding-default;
    height: max-content;
    z-index: 100;
  }
  h1 {
    font-size: $font-header-1;
    margin-bottom: 1rem;
    color: $color-light-2;
  }
  h3 {
    color: $color-light-2;
    font-size: $font-header-3;
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0.5rem 2.5rem;
    li {
      &:first-of-type {
        grid-column-start: span 4;
      }
      a {
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $color-light-1;
        svg {
          width: 2rem;
          margin-right: 1rem;
          fill: $color-light-2;
        }

        &:active,
        &:visited {
          text-decoration: none;
        }

        &:hover {
          color: lighten($color-light-1, 10%);
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 1100px) {
  header {
    width: 18.5rem * 5;

    .info {
      padding: 2rem 2.5rem;
    }

    .image {
      height: 19.3rem;
      width: 100%;
    }

    ul {
      grid-template-columns: repeat(2, auto);
      grid-gap: 0.5rem 1rem;

      li {
        &:first-of-type {
          grid-column-start: span 2;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 930px) {
  header {
    width: 15rem * 5;
    .image {
      img {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 750px) {
  header {
    width: 100vw;

    .info {
      padding: 1rem;
    }
    h1 {
      font-size: 2.9rem;
    }
    h3 {
      font-size: 1.85rem;
    }
    ul {
      li {
        a {
          svg {
            width: 1.5rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 650px) {
  header {
    font-size: 1.2rem;
    .image {
      height: 23.9rem;
      img {
        height: 18rem;
      }
    }
    ul {
      grid-template-columns: repeat(1, auto);
      li {
        &:first-of-type {
          grid-column-start: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  header{
    .image{
      img{
        height: 13rem;
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 239px) {
  header{
    .image{
      img{
        top:0;
        border-radius: 50%;
        height: 10rem;
      }
    }
  }
}
