@import '../util/variables';
body {
  background-color: #eee;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    margin: 0 auto;
  }
}

@mixin skill-level($color, $level: 0) {
  background: linear-gradient(to right, $color 0% $level, $color-dark $level 100%);
}
/* 
**************************************************
                MAIN
**************************************************
 */
main {
  font: $font-default;
  color: $color-dark;
  letter-spacing: 0.05rem;
  line-height: 1.15;
  display: grid;
  grid-template-columns: repeat(5, $size-grid-column);
  grid-template-rows: 5.3rem auto auto;
  justify-content: center;
  align-content: center;

  nav {
    background-color: $color-dark;
    grid-column: 1 / span 4;
    grid-row: 1 / 2;

    .content {
      height: 100%;
      display: flex;
      list-style: none;
      padding: 0.5rem 4rem;
      align-items: center;
      li {
        color: $color-light-2;
        background-color: darken($color-light-1, 50%);
        border-radius: 0 100rem;
        margin: 0 1rem;
        padding: 0.4rem 1.5rem;
        transition: all 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          height: 2.5rem;
          margin-right: 0.7rem;
          fill: $color-light-2;
        }
        &:hover {
          cursor: pointer;
          color: $color-dark;
          background-color: $color-light-1;

          svg {
            fill: $color-dark;
          }
        }
        &:first-of-type {
          margin-left: 0;
        }

        &.active {
          color: $color-dark;
          background-color: $color-light-1;
          svg {
            fill: $color-dark;
          }
        }
      }
    }
    .burger-menu {
      display: none;
    }
  }
  /* 
**************************************************
                  ASIDE
**************************************************
 */
  aside {
    grid-column: 5;
    grid-row: 1 / span 2;
    padding: 3rem 3.5rem;
    background-color: $color-dark-light;
    color: $color-light-1;
    h3 {
      font-size: $font-header-3;
      margin: 2rem 0;
    }

    ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-gap: 1rem;

      li {
        display: flex;
        flex-direction: column;
        a {
          text-decoration: none;
          color: $color-light-1;

          &:hover {
            color: lighten($color-light-1, 20%);
          }
          .level {
            margin-top: 0.5rem;
            height: 1rem;
            width: 15rem;

            &.js {
              @include skill-level($color-light-2, 45%);
            }
            &.css3 {
              @include skill-level($color-light-2, 70%);
            }
            &.sass {
              @include skill-level($color-light-2, 50%);
            }
            &.html5 {
              @include skill-level($color-light-2, 75%);
            }
            &.git {
              @include skill-level($color-light-2, 25%);
            }
            &.gitHub {
              @include skill-level($color-light-2, 30%);
            }
            &.markdown {
              @include skill-level($color-light-2, 70%);
            }
            &.vscode {
              @include skill-level($color-light-2, 40%);
            }
            &.figma {
              @include skill-level($color-light-2, 20%);
            }
          }
        }
      }
    }
  }
  /* 
**************************************************
                SECTIONS
**************************************************
 */
  .wrapper {
    grid-column: 1 / span 4;
    grid-row: 2;
    position: relative;
    padding: $padding-default;
    background-color: $color-light-1;
    h3 {
      font-size: $font-header-3;
      margin: 1rem 0;
      &:first-of-type {
        margin-top: 0;
      }
    }
    ul {
      list-style-type: none;
    }
    p {
      margin: 0.5rem 0;
    }
    section {
      padding: 1rem 0;
      border-bottom: 0.1rem solid darken($color-light-1, 5%);
      &:first-of-type {
        padding-top: 0;
      }
      &:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
    .code-examples {
      .code-samples {
        list-style: none;
        display: grid;
        grid-template-columns: 14rem 29rem 20rem;
        grid-gap: 1rem;
        justify-content: center;
        align-items: center;
        padding-bottom: 1.5rem;
        margin-bottom: 1rem;
        border-bottom: 0.1rem solid darken($color-light-1, 10%);
        li {
          padding: 0.3rem 0.5rem;
          border-radius: 20rem;
          border: 0.1rem solid $color-dark-light;
          text-align: center;

          &:hover {
            cursor: pointer;
            color: lighten($color-light-2, 5%);
            background-color: darken($color-dark, 20%);
          }
        }
        .more {
          a {
            text-decoration: none;
            color: inherit;
          }
        }
        .active {
          color: lighten($color-light-2, 5%);
          background-color: darken($color-dark, 20%);
        }
      }
    }
    .education {
      ul {
        li {
          margin-bottom: 1rem;
          font-style: italic;
          a {
            text-decoration: none;
            color: $color-dark;
            &:hover {
              cursor: pointer;
              color: lighten($color-dark, 50%);
            }
          }
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
    .experience {
      .experience-list {
        display: flex;
        padding-bottom: 1rem;
        li {
          margin-right: 2rem;
          a {
            text-decoration: none;
            padding: 0.3rem 1rem;
            border: 0.1rem solid $color-dark-light;
            border-radius: 20rem;
            color: $color-dark;
            transition: all 0.5s;
            &:hover {
              color: lighten($color-light-2, 5%);
              background-color: darken($color-dark, 20%);
            }
          }
        }
      }
      .projects {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 26rem);
        grid-template-rows: 37.5rem 11rem;
        grid-gap: 2rem;
        li {
          border: 0.1rem solid $color-dark-light;
          margin-right: 0;
          padding: 1rem;
          text-align: center;
          transition: all 0.3s;
          width: inherit;
          a {
            text-decoration: none;
            color: inherit;

            h4 {
              color: inherit;
              font-size: 2rem;
            }
            .image {
              width: 100%;
              margin: 1rem auto;
              img {
                width: inherit;
              }
            }
            p {
              text-align: left;
              color: inherit;
              line-height: 1.3;
            }
          }
          &:hover {
            color: lighten($color-light-2, 5%);
            background-color: darken($color-dark, 20%);
            transform: scale(135%, 135%);
            font-size: 85%;
          }
        }
      }
      .achievments {
        position: absolute;
        bottom: 1.6rem;
        p {
          line-height: 1.3;
          a {
            text-decoration: none;
            border: 0.1rem solid $color-dark-light;
            color: $color-dark;
            font-style: italic;
            padding: 0.3rem 0.5rem;
            border-radius: 50rem;
            display: block;
            text-align: center;
            margin-top: 0.5rem;
            width: 60%;
            &:hover {
              color: lighten($color-light-2, 5%);
              background-color: darken($color-dark, 20%);
            }
          }
          &:first-of-type {
            margin-bottom: 1rem;
          }
        }
      }
    }
    .video {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        margin-top: 5rem;
        margin-bottom: 2rem;
      }
      .player {
        width: 500px;
        height: 315px;
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 1150px) {
  main {
    grid-template-columns: repeat(5, 18.5rem);
    nav {
      .content {
        padding: 0.5rem 2.5rem;
        li {
          margin: 0 1rem;
          padding: 0.4rem 1rem;
        }
      }
    }

    aside {
      padding: 3rem 1.5rem;
    }
    .wrapper {
      padding: 2.5rem;

      .experience {
        .projects {
          grid-template-columns: repeat(2, 33rem);
          grid-template-rows: repeat(2, 40rem);
          li {
            &:hover {
              transform: scale(105%, 105%);
              font-size: 105%;
            }
            &:last-of-type {
              grid-column: span 2;
            }
          }
          li:last-of-type {
            grid-column: span 2;
            .image {
              img {
                width: 70%;
              }
            }
          }
          padding-bottom: 15rem;
        }
      }

      .video {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          margin-top: 5rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  main {
    grid-template-columns: repeat(5, 15rem);
    nav {
      grid-column: 1 / span 5;
      grid-row: 1 / 2;
    }
    .wrapper {
      grid-column: 1 / span 5;
      grid-row: 2;
      .experience {
        .projects {
          grid-template-columns: repeat(2, auto);
          li {
            &:hover {
              transform: scale(105%, 105%);
              font-size: 105%;
            }
            &:last-of-type {
              grid-column: span 2;
            }
          }
          padding-bottom: 15rem;
        }
      }
      .video {
        h3 {
          margin-top: 0;
          margin-bottom: 1rem;
        }
      }
    }
    aside {
      padding: 1rem 2rem;
      grid-column: 1 / span 5;
      grid-row: 3;
      h3 {
        text-align: center;
        margin: 1rem 0;
      }

      ul {
        grid-template-columns: repeat(4, auto);
        align-items: center;
        align-content: center;
        justify-content: center;
        grid-gap: 1rem 2rem;
        li {
          .level {
            width: 13rem;
          }
          &:last-of-type {
            grid-column: span 4;
            justify-self: center;
          }
        }
      }
      .lang {
        margin: 0 auto;
        width: 12rem;
        display: flex;
        flex-flow: column;
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 780px) {
  main {
    grid-template-columns: repeat(5, 19vw);
    overflow: hidden;

    nav {
      .content {
        padding: 0.5rem 0.5rem;
        li {
          margin: 0 0.3rem;
          padding: 0.4rem 0.9rem;
        }
      }
    }

    .wrapper {
      padding: 1rem;
      h3 {
        text-align: center;
        font-size: 1.85rem;
      }
      .code-examples {
        padding-left: 1rem;
        .code-samples {
          grid-template-columns: 14rem 25rem 20rem;
        }
      }
    }
    aside {
      h3 {
        margin: 1rem 0;
      }
      ul {
        grid-template-columns: repeat(2, auto);
        li {
          .level {
            width: 13rem;
          }
          &:last-of-type {
            grid-column: span 2;
            justify-self: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 680px) {
  main {
    grid-template-rows: repeat(3, auto);
    nav {
      font-size: 1.4rem;
      padding: 0;
      height: 3rem;
      position: relative;
      border-top: 1px solid $color-dark;
      .content {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 3rem;
        line-height: 3rem;
        li {
          width: 100%;
          margin: 0;
          border-radius: 0;
          padding: 0;
          justify-content: flex-start;
          padding-left: 5%;
          svg {
            height: 1.5rem;
            margin-right: 0.5rem;
          }
          &.active {
            order: -1;
            display: flex;
            justify-content: flex-start;
            padding-left: 5%;
            height: 3rem;
            line-height: 3rem;
            width: 91%;
          }
        }
      }
      .burger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 9%;
        height: 3rem;
        line-height: 3rem;
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0;
        background-color: transparent;
        svg {
          height: 65%;
          margin: 0;
          fill: darken($color-light-2, 30%);
        }
        &:hover {
          background-color: darken($color-light-1, 30%);
          svg {
            fill: $color-dark;
          }
        }
      }
      &.view {
        height: 12rem;
      }
    }

    .wrapper {
      border-top: 1px solid $color-dark;
      font-size: 1.3rem;
      .code-examples {
        padding: 0;
        font-size: 1.2rem;
        .code-samples {
          grid-template-columns: repeat(2, 19rem);
        }
      }
      .experience {
        .projects {
          grid-template-columns: repeat(1, auto);
          grid-template-rows: repeat(3, auto);
          li {
            padding: 0;
            &:last-of-type {
              grid-column: 1;
            }
            a {
              p {
                margin: 0;
                padding: 0 1rem 1rem 1rem;
              }
            }
          }
        }
      }
      .achievments {
        margin: 0 auto;
      }
    }
    aside {
      font-size: 1.2rem;
      width: 95vw;
      overflow: hidden;

      h3 {
        font-size: 1.8rem;
      }
      ul {
        justify-content: center;
        grid-template-columns: repeat(2, auto);
        li {
          &:last-of-type {
            grid-column: span 2;
            justify-self: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  main {
    nav {
      .content {
        li {
          &.active {
            width: 87%;
          }
        }
      }
      .burger-menu {
        width: 13%;
      }
    }
    .wrapper {
      .code-examples {
        .code-samples {
          grid-template-columns: repeat(1, 19rem);
        }
      }
      .experience {
        .experience-list {
          flex-flow: column;
          li {
            line-height: 3rem;
            margin: 0;
          }
        }
        .achievments {
          bottom: 0.3rem;
          p {
            width: 100%;
            padding: 0 0.5rem;
            a {
              width: fit-content;
            }
          }
        }
      }
    }
    aside {
      ul {
        li {
          justify-self: center;
          a {
            .level {
              width: 10rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 310px) {
  main {
    .wrapper {
      .experience {
        .projects {
          padding-bottom: 18rem;
        }
      }
    }
    aside {
      ul {
        li {
          a {
            .level {
              width: 7rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 200px) {
  main {
    .wrapper {
      .experience {
        .projects {
          padding-bottom: 22rem;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  main {
    .wrapper {
      .video {
        .player {
          height: 315px;
          width: 419px;
        }
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  main {
    .wrapper {
      .video {
        .player {
          height: 225px;
          width: 300px;
        }
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 350px) {
  main {
    .wrapper {
      .video {
        .player {
          height: 188px;
          width: 250px;
        }
      }
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 280px) {
  main {
    .wrapper {
      .video {
        .player {
          height: 120px;
          width: 160px;
        }
      }
    }
  }
}
