$color-dark-light: #1F2833;
$color-dark: #0B0C10;
$color-light-1: #dfdfdf;
$color-light-2: #66FCF1;
$color-light-dark: #45A29E;

$height-footer: 8rem;
$width-cv: 110rem;
$width-aside: 25rem;
$padding-default: 3rem;

$font-default: 1.4rem 'Lato', sans-serif;