$color-dark-light: #1f2833;
$color-dark: #0b0c10;
$color-light-1: #dfdfdf;
$color-light-2: #66fcf1;
$color-light-dark: #45a29e;

$padding-default: 2rem 4rem;

$size-grid-column: 22rem;

$font-default: 1.6rem 'Lato', sans-serif;
$font-header-1: 3.5rem;
$font-header-3: 2rem;
