footer {
  font-size: 1.2rem;
  background-color: #45161c;
  color: whitesmoke;
  padding: 1.5rem;
  text-align: center;
  overflow: hidden;
  border-radius: 0 0 0.5rem 2rem;
}

img {
  width: 4rem;
}

a {
	text-decoration: none;
	background-color: rgb(252, 247, 0);
	padding: 0.7rem;
	border-radius: 0.5rem 50rem;
}

footer ul {
  display: flex;
  justify-content: space-between;
	align-items: baseline;
  flex-wrap: wrap;
}

footer a:active,
footer a:visited,
footer a:link {
  color: black;
}

footer a:hover {
  color: rgb(0, 4, 255);
	background-color: rgba(252, 248, 0, 0.705);
}

footer time {
  margin-left: 1rem;
}
footer img {
  margin-left: 0.9rem;
}
